<h2>form page</h2>
<form>
	<input type="text" ng-model="form1_input1" />
	<input type="button" value="submit" ng-click="form1_query_data()" />
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="form1_results" width="50%">
		<thead>
			<tr>
				<th>row1</th>
				<th>row2</th>
				<th>row3</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</form>